[submodule "external/ips4o"]
	path = external/ips4o
	url = https://github.com/SaschaWitt/ips4o.git
[submodule "external/googlebenchmark"]
	path = external/googlebenchmark
	url = https://github.com/google/benchmark/
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest/
