[submodule "third_party/ips4o"]
	path = third_party/ips4o
	url = https://github.com/ips4o/ips4o.git
[submodule "third_party/googlebenchmark"]
	path = third_party/googlebenchmark
	url = https://github.com/google/benchmark/
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest/
[submodule "third_party/cpp-TimSort"]
	path = third_party/cpp-TimSort
	url = https://github.com/timsort/cpp-TimSort
[submodule "third_party/gtest-parallel"]
	path = third_party/gtest-parallel
	url = https://github.com/google/gtest-parallel.git
