branches:
    only:
      - master
      - dev
dist: bionic
language:
  - cpp
compiler:
  - gcc
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-9
      - g++-9
      - cmake
script:
  # Link gcc-9 and g++-9 to their standard commands
  - ln -s /usr/bin/gcc-9 /usr/local/bin/gcc
  - ln -s /usr/bin/g++-9 /usr/local/bin/g++
  
  # Export CC and CXX to tell cmake which compiler to use
  - export CC=/usr/bin/gcc-9
  - export CXX=/usr/bin/g++-9
  
  # Check versions of gcc, g++ and cmake
  - gcc -v && g++ -v && cmake --version
  
  # Run the build command
  - ./compile.sh